*{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #9c27b0;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-weight: 600;
}

.course_root {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    max-width:1200;
    margin: 20px;
}

.courses_card {
    max-width: 345;
    margin: 20px;
    flex-grow: 1;
}